<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K4GDCMF5');</script>
    <!-- End Google Tag Manager -->

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	
	<meta name="description" content="
		नई नई हिंदी कहानियां पढ़े बहुत ही मनोरंजक कहानियों का कलेक्शन देखे पढ़े और आनंद ले  
		यहां सभी तरह की कहानियां, चुटकुला, short story, motivational story..... डेली डाला और अपडेट किया जाता है। YouTube video के लिए daily नया कहानी यहां से मिले
	">
	<meta name="keywords" content="
		hindi kahani, hindi cartoon story, cartoon stories in hindi, hindi stories in hindi, मजेदार कहानियाँ, 
		kahani, story, cartoon, कार्टून, pratilipi, motivational short story in hindi, short story of akbar and birbal, 
		all hindi story, sabhi tarah ki kahaniya.
	">
	<!--meta name="page-topic" content=""-->
	<meta name="author" content="">
	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="1 days">
	<meta name="msapplication-tap-highlight" content="no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="distribution" content="Global">
	<meta name="copyright" content="">
	<meta name="format-detection" content="telephone=no">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/logo/indiancarehub-w.svg}">
	<link rel="icon" type="image/png" th:href="@{/logo/indiancarehub-b.png}">
	
	<title>नये रोमांचक हिन्दी कहानियाँ अब हमारे साथ पढ़े</title>
	<link rel="stylesheet" th:href="@{/CSS/headerStyle.css}">
	<link rel="stylesheet" th:href="@{/CSS/style.css}">
	<link rel="stylesheet" th:href="@{/CSS/thor.css}">
	<link rel="stylesheet" th:href="@{/CSS/loadingSpinner.css}">
	<link rel="stylesheet" href="\static\CSS/loadingSpinner.css">
	<link rel="stylesheet" href="\static\CSS/headerStyle.css">
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslate"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K4GDCMF5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="scroll-to-top">
    <div><span class="material-symbols-outlined scroll-top-icon notranslate">line_start_arrow_notch</span></div>
</div>
	<div id="container">
		<div id="content">
			<div id="header" th:replace="~{home :: headerParts}"></div>
			
			<div id="loading-spinner">
				<div class="loader">
					<i class="fas fa-spinner"></i>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
				</div>
			</div>
			
			<div id="page-body" th:replace="~{home :: pageBody}"></div>
			<div id="loading-spinner" class="loading-spinner-below" style="display: none;">
				<div class="loader">
					<i class="fas fa-spinner"></i>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
				</div>
			</div>
			<div id="footer" th:replace="~{footer.html}"></div>
		</div>
	</div>
<script th:src="@{/JS/scripts.js}"></script>
</body>
</html>