<!DOCTYPE html>
<html  lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Privacy Policy</title>
    <link rel="stylesheet" th:href="@{/CSS/optional_page.css}">
</head>
<body>
    <div class="container">
        <h1>Privacy Policy: <a href="https://www.morallines.com">morallines.com</a></h1>
        <p>
            At <a href="https://www.morallines.com">morallines.com</a>, we prioritize the protection of your privacy.
             Our Privacy Policy outlines how we collect, use, and secure your personal information. It includes:
        </p>
        <p>The types of information we collect (e.g., user accounts, email addresses).
        </p>
        <p>Methods of information collection (e.g., user registration, cookies).
        </p>
        <p>Purposes of data collection (e.g., account management, personalized content).
        </p>
        <p>Your rights regarding your personal data.
        </p>
        <p>Measures we take to ensure data security and confidentiality.
        </p>
        <p>Contact details for privacy inquiries.
        </p>
        <p><b>Terms of Use:</b></p>
        <p>By using [Your Story Website], you agree to adhere to our Terms of Use. 
            These terms govern your usage of our website and include:</p>
        <p>
            Acceptable practices on the website (e.g., posting content, engaging with other users).

        </p>
        <p>Acceptable practices on the website (e.g., posting content, engaging with other users).
        </p>
        <p>Ownership of content and intellectual property rights.
        </p>
        <p>Disclaimers of warranties and limitations of liability.
        </p>
        <p>Guidelines for user-generated content and interactions.
        </p>
        <p>Procedures for resolving disputes.
        </p>
        <p>Notification procedures for changes to the terms.
        </p>
        <p><b>Cookie Policy:</b></p>
        <p>Our Cookie Policy explains how we utilize cookies and similar technologies to enhance
             your experience on [Your Story Website]. It covers:</p>

          <p>
            Types of cookies used (e.g., essential, functional, analytical).

          </p>  
          <p>Functions of cookies for website functionality, analytics, and advertising.
        </p> 
        <p>Options for managing cookie preferences.
        </p>
        <p>Third-party cookies and tracking technologies.
        </p>
        <p>Opt-out possibilities for targeted advertising.
        </p>
        <p><b>Content Policy:</b></p>
        <p>Our Content Policy establishes guidelines for permitted content on [Your Story Website],
             fostering a safe and respectful community. It includes:</p>
        <p>Prohibited content (e.g., illegal, harmful, inappropriate).
        </p>
        <p>Expected user conduct (e.g., respectful interactions, no harassment).
        </p>
        <p>Reporting procedures for inappropriate content.
        </p>
        <p>Content moderation processes and timelines.
        </p>
        <p>Consequences for violating the content policy.
        </p>
        <p><b>Contact Information:</b></p>
        <p>
            For inquiries or concerns about our policies, please <a href="/contactUs">contact us</a>.
        </p>
    </div>
    <div th:include="@{/footer.html}"></div>
</body>
</html>
