<!DOCTYPE html>
<html  lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Terms of Use</title>
    <link rel="stylesheet" th:href="@{/CSS/optional_page.css}">
</head>
<body>
    <div class="container">
        <h1>Terms of Use: <a href="https://www.morallines.com">morallines.com</a></h1>
        <p><b>Jokes Section Terms:</b></p>
        <p>
            "Hilarity Hub": Where laughter reigns supreme with our curated collection of jokes.

        </p>
        <p>
            "Comedy Cache": A treasure trove of chuckles and giggles, guaranteed to brighten your day.

        </p>
        <p>"Humor Haven": Your go-to destination for side-splitting jokes and humorous anecdotes.
        </p>
        <p><b>Moral Story Section Terms:</b></p>
        <p>"Inspiration Alley": Stories that uplift and enlighten, guiding you towards greater wisdom and understanding.
        </p>
        <p>
            "Ethical Odyssey": Embark on a journey of moral discovery with our thought-provoking narratives.

        </p>
        <p>"Virtue Voyage": Navigate the seas of storytelling and emerge enriched with valuable life lessons.
        </p>
        <p><b>Cartoon Story Section Terms:
        </b></p>
        <p>
            "Animation Station": Dive into a world of animated wonders, where imagination knows no bounds.

        </p>
        <p>"Cartoon Chronicles": Follow the adventures of beloved characters as they leap from page to screen.
        </p>
        <p>
            "Whimsy Whirlwind": Experience the whirlwind of creativity with our captivating cartoon tales.

        </p>
        <h3><b>General Terms:        </b></h3>
        <p>
            "Story Sanctum": Where stories come to life, weaving a tapestry of imagination and inspiration.
        </p>
        <p>
            "Narrative Nexus": The epicenter of storytelling magic, where every tale finds its perfect audience.

        </p>
        <p>
            "Chronicle Corner": A cozy corner of the internet where stories abound, waiting to be discovered and shared.

        </p>
        <p>
            "Tale Treasury": Explore our vast collection of stories, each one a gem waiting to be unearthed.
        </p>

    </div>
    <div th:include="@{/footer.html}"></div>
</body>
</html>
